<h1>Details</h1>
<p><%= @tasks.title %></p>
<p><%= @tasks.details %></p>
<p>completed ? <%= @tasks.completed %> </p>
<%= link_to "adit this list",  edit_path %>

<%= link_to "back to list",  tasks_path %>
